/* Montserrat import font*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins');

html {
    scroll-behavior: smooth;
}


/* Navigation Bar */
/* ======================================================================================================= */

/* General Setting dari Website*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 30px;
}

/* General Setting dari Tag Body*/
body{
    margin: 0;
    padding: 0;
}

/* Setting dari logo*/
.logo{
    color: white;
    height: 40px;
    max-width: 100%;
    margin: .5rem;
    padding-left: 10%;
}

/* General Setting dari navbar */
.navbar{
    font-family: 'Poppins';
    letter-spacing: 1px;
    font-size: large;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(29, 29, 29);
    margin-right: 70px;
}

/* Setting dari link di navbar unordered list*/
.navbar-links ul{
    text-align: center;
    padding: 0;
    display: flex;
}

/* Agar list tidak ada bulletnya*/
.navbar-links li{
    list-style: none;
}

/* Setting dari hyperlink di unordered list*/
.navbar-links li a{
    text-decoration: none;
    color: rgb(32, 32, 32);
    padding: 2rem;
    display: block;
}

/* Setting dari hyperlink di unordered list saat dihover*/
.navbar-links a:hover{
    color: rgba(175, 95, 38, 1);
    transition : all 0.3s ease 0s;
}

/* Setting dari posisi dropdown menu*/
.toggle-button{
    position: absolute;
    top: 1.75rem;
    right: 2rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

/* Setting dari tampilan drop down menu*/
.toggle-button .bar{
    height: 5px;
    width: 100%;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
}

button{
    padding-top : 10px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border : none;
    cursor : pointer;
    transition : all 0.3s ease 0s;
    font-family: 'Poppins';
    letter-spacing: 1px;
}


/* Setting apabila media yang digunakan di bawah 1025px*/
@media (max-width: 1025px){
    /* Muncul dropdown menu*/
    .toggle-button{
        display: flex;
    }

    /* Agar navigation linksnya hilang*/
    .navbar-links{
        display: none;
        width: 100%;
    }

    /* Agar navbar berada di sebelah kiri */
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }

    /* Posisi dan size unordered list*/
    .navbar-links ul{
        width: 100%;
        flex-direction: column;
    }

    /* Letak unordered list*/
    .navbar-links li{
        text-align: center;
    }

    /* Padding hyperlink di unordered list*/
    .navbar-links li a{
        padding: .5rem 1rem;
        margin-left: 11%;
    }

    /* berhubungan dengan javascript*/
    .navbar-links.active{
        display: flex;
    }

    .logo{
        margin: .15rem;
    }
}

/* Setting apabila media yang digunakan di bawah 700px*/
@media screen and (max-width: 700px) {
    .logo{
        padding-left: 4%;
    }

    .navbar-links li a{
        margin-left: 15%;
    }
  }

/* Setting apabila media yang digunakan di bawah 500px*/
@media screen and (max-width: 500px) {
    .navbar-links li a{
        margin-left: 20%;
    }
  }

/* Setting apabila media yang digunakan di bawah 400px*/
@media screen and (max-width: 400px) {
    .navbar-links li a{
        margin-left: 25%;
    }
  }


/* Setting apabila media yang digunakan di bawah 300px*/
@media screen and (max-width: 300px) {
    .logo{
        padding-left: 1%;
    }
  }

/* ======================================================================================================= */







/* Beranda*/
/* ======================================================================================================= */


/* Setting div dengan id Beranda*/
#Beranda{
    display: flex;
    font-family: 'Poppins';
    letter-spacing: 1px;
    width: 100%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 10%;
}

/* Membuat column di beranda*/
.column_beranda{
    flex: 50%;
}

/* Setting beranda div atas*/
.beranda_top{
    line-height: 1.6;
    font-size: x-large;
    text-shadow: 1.5px 0 #040404;
    font-weight: 400;
}

/* Button kontak dan about*/
.button_kontak_about{
    margin-top: 7%;
}

/* Button Hubungi Kami*/
.kontak{
    background: #AF5F26;
    color: white;
    border-width: thin;
    border-style: solid;
    border-radius: 10px;
    margin-top: 1em;
    font-size: x-large;
    padding: 2%;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Button Hubungi Kami saat dihover*/
.kontak:hover{
    background-color: #682B00;
    color: #ffffff;
}

/* Button Tentang Kami*/
.about{
    background-color: white;
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    margin-top: 1em;
    font-size: x-large;
    padding: 2%;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
}

/* Button Tentang Kami saat dihover*/
.about:hover{
    background-color: #D8D8D8;
    color: black;
}

/* Image amico di beranda*/
.amico{
    float: right;
    max-width: 80%;
}


/* Agar bisa menyesuaikan dengan lebar mobile phone 1050px*/
@media screen and (max-width: 1050px) {
    #Beranda{
        display: flex;
        width: 100%;
        padding: 5%;
    }

    .beranda_top{
        font-size: x-large;
    }

    .beranda_bottom{
        font-size: large;
    }

    .kontak{
        font-size: large;
    }

    .about{
        font-size: large;
    }

    .amico{
        max-width: 80%;
        height: auto;
    }

    .column_beranda{
        flex: 50%;
    }
  }


/* Agar bisa menyesuaikan dengan lebar mobile phone 785px*/
@media screen and (max-width: 785px) {
    #Beranda{
        display: block;
        width: 100%;
        padding: 5%;
    }

    .beranda_top{
        font-size: x-large;
    }

    .beranda_bottom{
        font-size: large;
    }

    .kontak{
        font-size: large;
    }

    .about{
        font-size: large;
    }

    .amico{
        width: 0%;
        height: 0%;
    }
  }


/* Agar bisa menyesuaikan dengan lebar mobile phone 700px*/
@media screen and (max-width: 700px) {
    #Beranda{
        display: block;
        width: 100%;
        padding: 5%;
    }

    .beranda_top{
        font-size: x-large;
    }

    .beranda_bottom{
        font-size: large;
    }

    .kontak{
        font-size: large;
    }

    .about{
        font-size: large;
    }

    .amico{
        width: 0%;
        height: 0%;
    }

    .column_beranda{
        flex: 100%;
    }
  }

/* ======================================================================================================= */





/* Layanan Kami*/
/* ======================================================================================================= */

/* Mengatur font di bagian Layanan Kami*/
#Layanan{
    margin-top: 7%;
    font-family: "Poppins";
    letter-spacing: 1px;
    background-color: rgba(251, 241, 234, 1);
    ;
}

/* Tulisan layanan kami yang berwarna ungu*/
.layanan_kami_ungu{
    padding-top: 5%;
    text-align: center;
    color: rgba(148, 39, 234, 1);
    font-size: larger;
    font-weight: 900;
}

/* Masalah kamu, kami solusikan*/
.masalah_solusi{
    margin-top: 2%;
    text-align: center;
    font-size: xx-large;
    text-shadow: 1.5px 0 #040404;
    font-weight: 900;
    line-height: 1.6;
}

/* Bagian column layanan*/
.row_layanan{
    padding: 10%;
    padding-top: 2%;
    padding-bottom: 5%;
    background-color: rgba(251, 241, 234, 1);
}

/* Agar sisa baris tidak diambil konten berikutnya*/
.row_layanan::after{
    content: "";
    display: table;
    clear: both;
}